# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
*.sqlite3
*.db

# Parquet & Data
*.parquet
*.csv
*.json
resources/
trips_uber/
trips_uber_summarize/

# MLflow
mlruns/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

#backend
.venv
venv
__pycache__
.vscode
docker-compose.yml
env*.list
*DS_Store*
.temp


#frontend
env.js